
:root {
    --cell-size: 80px;
    --board-size: calc(var(--cell-size) * 8);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    overflow: hidden;
}

body {
    justify-content: center;
}

#chessboard {
    display: grid;
    grid-template-rows: repeat(8, var(--cell-size));
    grid-template-columns: repeat(8, var(--cell-size));
    width: var(--board-size);
    height: var(--board-size);
}

.cell {
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    overflow: hidden;
}

.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--cell-size)/4);
    height: calc(var(--cell-size)/4);
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.capture {
    background-color: rgba(255, 35, 35, 0.5);
}

.dot:hover {
    cursor: pointer;
}

.b {
    background: green;
}

.w {
    background: blanchedalmond;
}

.check {
    background: red;
}

.piece {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--cell-size);
    height: var(--cell-size);
    transform: translate(-50%, -50%);
}

.piece:hover {
    cursor: pointer;
}

.selected {
    width: calc(var(--cell-size)*1.1);
    height: calc(var(--cell-size)*1.1);
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.5);
}

.pos {
    position: absolute;
    font-size: 1.5rem;
    text-shadow: 
    1px 1px 2px black, 
    2px 2px 4px black, 
    3px 3px 6px black, 
    4px 4px 8px black, 
    5px 5px 10px black;
    color: white;
    pointer-events: none;
}